
{% load static %}

  
    {% block title %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">



{% block body %}


{% include 'parts/navbar.html' %}
  
 
  
 
<div class="container">
    <ol class="breadcrumb my-4">
        {% block breadcrumb %}
        {% endblock %}
    </ol>
    
    {% block content %}
    {% endblock %}
</div>


{% endblock body %}


 <!-- JavaScript dependencies -->
 <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
 <script src="{% static 'js/popper.min.js' %}"></script>
 <script src="{% static 'js/bootstrap.min.js' %}"></script>



